* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 1280px;
  margin: 0 auto;
  background: #1B2944;
}

/* header */

.header {
    display: flex;
    padding: 40px 168px 88px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    width: 100px;
}

.header__logo-image {
    width: 100%;
}

.header__social-list {
    list-style-type: none;
    display: flex;
    justify-self: end;
    gap: 15px;
}

.header__social-link {
    display: block;
    width: 20px;
}

.header__social-icon {
    width: 100%;
}

/* section hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 168px 81px;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 464px;
}

.hero__info-title {
    color: #FFBB01;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75rem;
    margin-top: 28px;
    margin-bottom: 12px;
}

.hero__info-name {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 3.6875rem;
    margin-bottom: 24px;
    letter-spacing: -1.2px;
}

.hero__info-description {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 36px;
}

.hero__info-consultation {
    color: #1B2944;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.975rem;
    text-transform: uppercase;
    margin-bottom: 39px;
    letter-spacing: -0.3px;
}

.hero__info-button {
    width: 300px;
    height: 66px;
    background-color: #FFBB01;
    border-radius: 6px;
    box-shadow: 0 4px 0 #B68500;
    border: none;
}

.hero__photo {
    display: block;
    width: 384px;
}

.hero__photo-image {
    width: 100%;
}

/* section features */

.features {
    background-color: #141F35;
    padding: 88px 168px;
}

.section__header {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.625rem;
    padding-bottom: 48px;
    letter-spacing: -1.2px;
}

.features__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 16px;
}

.features__list-item {
    width: 304px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__logo {
    width: 52px;
}

.card__title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.75rem;
    margin-top: 20px;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.card__text {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75rem;
}

/* section portfolio */

.portfolio {
    padding: 88px 168px;
}

.portfolio__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.portfolio__list-item {}

.link {}

.preview {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 35.34%, #213E60 99.85%);
    width: 304px;
    height: 304px;
    
}

.preview_type_bar {
    background-image: url(./images/Rectangle\ 22.png);
}

.preview_type_golf {
    background-image: url(./images/Rectangle\ 23.png)
}

.preview_type_hike {
    background-image: url(./images/Rectangle\ 24.png);
}

.preview__title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75rem;
}

.preview__button {}